/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}
header.carousel {
    height: 315px;
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}
header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.carousel-caption h2{
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -0.3px;
    margin-bottom: 10px;
    margin-top: 75px;
    padding-bottom: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    transition: font 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}
.carousel-caption p {
    color: #e8eced;
    font-size: 17px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* Responsive Styles */

@media (max-width:767px) {
     header.carousel .carousel {
        height: 70%;
    }
    .carousel-caption h2{
        font-size:30px;
        line-height:34px;
    }
    .carousel-caption p{
        color:#e8eced;
        font-size:16px;
        line-height:normal;
        }
}