/*!
 * Start Bootstrap - Heroic Features HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
  padding-top: 77px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  font-family: "Roboto",sans-serif;
}
.spacer {
  margin-top: 25px;
}
.feature {
  margin-bottom: 25px;
}
.mg-bottom {
  margin-bottom: 15px;
}
.mg-top {
  margin-top: 15px;
}
.basic-color{
  color: #000;
}
.basic-color a{
  color: #000;
}
.basic-color a:hover{
  color: #d84c33;
}
/*------- footer----------*/
.footer{
	background-color: #171717;
	color: #ffffff;
	padding: 25px 0;
	line-height: 30px;
}
.footer ul, .footer p{
	margin-bottom:0; 
}
.footer h4{
	margin-top: 0; 
	color: #e74c3c;
}
.footer a{
	color: #ffffff;
	margin-top: 50px;
}
.footer a:hover{
	color: #e74c3c;
}
.social{
	font-size: 34px;
}
.social h4{
	margin-bottom: 17px;
}
.social a.facebook, td a.facebook {
  color: #37589a;
}
.social a.twitter, td a.twitter {
  color: #38a8e0;
}
.social a.google-plus, td a.google-plus {
  color: #da4a38;
}
.social a.linkedin, td a.linkedin {
  color: #0077b5;
}
.social a.delicious, td a.delicious {
  color: #222222;
}
.copyright{
	background-color: #000000; 
	color: #ffffff;
	padding: 10px 0;
	font-size: 14px;
}
.copyright a{
	color: #e74c3c;
}
/*-------nav----------*/
.btn-main, .btn-search{
  color: #fff;
  background-color: #d84c33;
}
.btn-search{
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 42px;
}
.btn-main:hover,
.btn-main:active,
.btn-main.active{
  background-color: #be1414;
}
.nav-border{
	border-top: 1px dashed #34393d;
}
/*------- banner----------*/
.carousel-caption p {
  color: #fff;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}
@media (max-width: 768px) {
  .carousel-caption p {
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.form-horizontal .text {
  margin-bottom: 0;
  padding-top: 7px;
  font-weight: normal;
  padding-left: 0px;
  color: #d84c33;
}
/*------- location_area----------*/
.location-area{
	width: 100%;
	float:left;
	padding: 20px 60px 20px 60px;
	background: url("../images/bgmain.png") top left repeat;
	box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}
.location-area h1{
  color: #000;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -0.3px;
  padding-bottom: 20px;
  text-shadow: 1px 1px 0 #fff;
  text-transform: uppercase;
  text-align: center;
}
.whitebg {	
	background-color: #fff;
	color: #000;
	display: none;
  border: 1px solid #ddd; 
	padding: 30px 50px 20px 50px;
  margin: 10px 0px 20px 0px;
}
.option-text {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #d84c33;
  margin-top: 7px;
}
.display {
  display: none;
}
@media (max-width: 768px) {
  .location-area h1{
    font-size: 18px;
  }
}
/*-------thumbnail----------*/
.property-hd{
  margin: 0px 0px 20px 0px;
}
.property-hd h3{
  color: #000;
  font-size: 28px;
  font-weight: bold;
}
.thumbnail .caption h3{
	color: #d82b0e;
	font-size: 20px;
	margin: 5px 0px 5px 0px;
}
.thumbnail .caption p{
	margin: 5px 0px 5px 0px;
}
.thumbnail .caption p.address{
	color: #4c4c4c;
}
.thumbnail .caption p.listing{
	color: #8e8e8e;
	font-size: 12px;
}
.thumbnail span, .information span{
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 7px 0;
  font-weight:300; 
}
.information span{
  font-size: 15px;
  padding: 9px 0;
}
.thumbnail span b, .information span b{
  width: 45%;
  display: inline-block;
  color: #d84c33;
  font-weight: normal;
}
.thumbnail .clock{
  float: right;
  border: none;
}
.thumbnail span:nth-child(4){
  border-bottom:none;
}
/*------- Searchbar----------*/
/*.searchbar {
  width: 100%;
  background-color:#171717;
  padding: 20px 0px;
}
.hw100{
  height:100%;
  width:100%;
}
.dtable{
  display:table;
}
.dtable-cell
{
  display:table-cell;
  vertical-align:middle;
}
.intro .container {
    max-width: 800px;
}
.search-row{
  width:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  padding-right: 20px;
}
.searchbar p {
    color: #e8eced;
    font-size: 17px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.search-row .search-col{
  padding:0;
  position:relative;
}
.has-icon {
    padding-left: 30px;
}
.in-text {
    margin: 13px 0px 12px 0px;
    color: #ffffff;
}
.icon-append{
  color:#949494;
  font-size:18px;
  left:8px;
  position: absolute;
  top:13px;
}
.btn .btn-icon{
    padding: 0px 6px;
    font-size: 24px;
}
.search-row .search-col .form-control, .search-row button.btn-search {
    border: 0 none;
    border-radius: 3px 0 0 3px;
    height: 44px;
    padding-left: 25px;
    margin-bottom: 20px;
}
.search-row .search-col:first-child .form-control {
    border-radius: 3px 0 0 3px;
}
.search-row .search-col .form-control {
    box-shadow: none !important;    
}
button.btn-search {
    border-radius: 0 3px 3px 0 !important;
    font-size: 16px;
    height: 44px;
    color: #fff;
    background-color: #23a657;
    letter-spacing: -0.2px;
    -webkit-text-shadow: 0 2px 2px #20a759;
    text-transform: none;
}
button.btn-search:hover {
    color: #fff;
}
button.category-btn {
    border-radius: 3px;
    font-size: 16px;
    height: 48px;
    background: #000;
    border: 1px solid #fff;
}*/
/*------- category_menu----------*/
/*#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 16px;
}
#cssmenu a.all-category, #miles {
  display: block;
  min-width: 185px;
  height: 44px;
  padding: 9px 1em 9px 0.4em;
  line-height: 1.42857143;
  color: #ffffff;
  border: none;
  background-color: #23a657;
  border-radius: 0px 3px 3px 0px;
}
#miles {
  margin-bottom: 20px;
}
#category1{
    display:none;
    position: absolute;
    z-index: 100;
    width: 100%;
}
.icon-append-right{
	color:#ffffff;
	font-size:18px;
	right:8px;
	position: absolute;
	text-align: right;
	top:12px;
	cursor: pointer;
}
#cssmenu a {
  line-height: 1.3;
  text-align:left;
}
#cssmenu {
	width: auto;
}
#cssmenu > ul > li > a {
  padding-right: 40px;
  display: block;
  background: #eaeaea;
  color: #555555;
  border-bottom: 1px solid #d6d6d6;
  position: relative;
}
#cssmenu > ul > li > a > span {
  background: #ffffff;
  padding: 10px;
  display: block;
  font-size: 14px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  color: #fff;
}
#cssmenu > ul > li.active > a span {
  background: #eaeaea;
  color: #555555;
}
#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  border: 1px solid #d6d6d6;
  border-top: 0;
}
#cssmenu ul ul a {
  padding: 10px;
  display: block;
  color: #555555;
  font-size: 13px;
}
#cssmenu ul ul a:hover {
  color: #555555;
  background: #eaeaea;
}
#cssmenu ul ul li.odd {
  background: #ffffff;
}
#cssmenu ul ul li.even {
  background: #ffffff;
}*/
/*------- Sign_up----------*/
/*.signup_container {
    width: 90%;
    margin: 20px 5%;
}
.signup_container h2{
  font-size: 34px;
  margin: 30px 20px 20px 20px;
}
.signup_container h4{
  color: #23a657;
  font-size: 22px;
  margin-top: 20px;
}*/
.about .about_text, .about .about_img {
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}
.about .about_img {
  width: 42%;
}
.about .about_text {
  width: 57%;
}
.about .about_text ul {
  margin: 0px;
  padding: 0px;
}
.about .about_text ul li {
  width: 49%;
  font-size: 12px;
  list-style:none;
  display: inline-block;
  padding: 5px 0px; 
}
ul.about li::before, .about .about_text ul li::before {
  content: "✠";
  font-size: 16px;
  padding-right: 10px;
}
ul.about li::before{
  color: #d84c33;
}
.about_text ul li::before {
  color: #4c4c4c;
}
ul.about li {
  width: 100%;
  display: inline-block;
}
/*------- form_body----------*/
.form_body {
  width: 100%;
  position: absolute;
  background-color: #d84c33;
  padding: 7px 0px 70px 0px;
}
.form_body h3{
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  letter-spacing: -0.3px;
  padding: 15px 0px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: font 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}
.sign_up {
  width:85%;
  background: url("../images/bgmain.png") top left repeat;
  position: relative;
  padding: 30px 35px;
  margin: 10% 7% 4% 8%;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.19);
}
/*.form_body h4{
  color: #23a657;
  padding: 0px 20px;
  margin:0px; 
}*/
@media (max-width: 1024px) {
  .form_body{
    padding: 7px 0px 20px 0px;
  }
  .form_body h3{
    font-size: 36px;
    padding: 20px 0px 30px 0px;
    margin-bottom: 0px;
  }
  .sign_up {
    margin: 13% 7% 4% 8% !important;
  }
}
@media (max-width: 768px) {
  .form_body{
    padding: 7px 0px 20px 0px;
  }
  .form_body h3{
    font-size: 30px;
    padding: 0px 0px 30px 0px;
    margin-bottom: 0px;
  }
  .sign_up {
    margin: 14% 7% 4% 8% !important;
  }
}
@media (max-width: 480px) {
  .form_body{
    padding: 7px 0px 0px 0px;
  }
  .form_body h3{
    font-size: 22px;
    padding: 0px 0px 30px 0px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .sign_up {
    margin: 16% 7% 4% 8% !important;
  }
}

/*.half_field h1{
  font-size: 34px;
  color: #000000; 
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 40px 0px 30px 0px;
}*/
.sign_up .boxleft {
  width: 200px;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-top: 44px;
  margin-left: 32px;    
} 
.sign_up .boxleft span {
  font-size: 24px;
  left: 44.5%;
  position: absolute;
  top: 49%;
}
.sign_up a{
  color: #d84c33;
  text-decoration: none;
}
.sign_up a:hover{
  color: #d84c33;
  text-decoration: underline;
}
.sign_up h4{
  font-size: 22px;
  color:#d84c33;
  text-transform: uppercase;
  margin: 20px 0px 20px 0px;
}
.sign_up .form_hd {
  font-size: 22px;
  color: #000;
  text-align: center;
}
.sign_up .form_section {
  font-size: 18px;
  color: #363636;
  border-bottom: 1px dashed #a6a6a6;
  margin: 10px 0px 7px 7px;
  padding:0px 0px 8px 7px;
}




.sign_up .socialLogin {
  padding: 19px 0px 10px 0px;
}
.Button.btn {
  background: #f0f0f0 linear-gradient(#fff, #f0f0f0) repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #f00000;
  cursor: pointer;
  font-weight: normal;
  padding: 7px 10px 7px 50px;
  text-shadow: 0 1px #fff;
  white-space: nowrap;
  font-size: 16px;
}
.Button.btn.facebook {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) linear-gradient(#5676bc, #31497b) repeat scroll 0 0;
  border-color: #31497b #293e69 #293e69;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  text-shadow: 0 1px #fff;
}
.Button.btn.gplus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) linear-gradient(#f87474, #e65858) repeat scroll 0 0;
  border-color: #e65858 #e34242 #e34242;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #444;
  text-shadow: 0 1px #fff;
}
.Button.btn.twitter {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) linear-gradient(#5fbee4, #2090bd) repeat scroll 0 0;
  border-color: #2090bd #1c7fa8 #1c7fa8;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #444;
  text-shadow: 0 1px #fff;
}
.Button.btn.facebook, 
.Button.btn.gplus, 
.Button.btn.twitter{
  height: 44px;
  position: relative;
}
.sign_up .facebook, 
.sign_up .gplus,  
.sign_up .twitter {
  float: right;
  margin-bottom: 10px;
  margin-right: 0px;
  text-align: left;
  width: 100%;
}
.Button.btn.facebook em, 
.Button.btn.gplus em, 
.Button.btn.twitter em {
  bottom: 0;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05);
  height: 41px;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 41px;
}
.Button.btn.facebook em {
  background: rgba(255, 255, 255, 0.08) url("../images/facebook.png") center no-repeat;
  height: 42px;
  width: 42px;
}
.Button.btn.gplus em {
  background: rgba(255, 255, 255, 0.07) url("../images/gplus.png") center no-repeat;
  height: 41px;
  width: 41px;
}
.Button.btn.twitter em {
  background: rgba(255, 255, 255, 0.08) url("../images/twitter.png") center no-repeat;
  height: 41px;
  width: 41px;
}
.Button.btn.facebook span, 
.Button.btn.gplus span, 
.Button.btn.twitter span {
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  color:#fff;
}
@media (max-width:480px) {
  .Button.btn {
    font-size: 12px;   
  }
}
@media (min-width:1024px) {
  .Button.btn {
    font-size: 14px;
    padding: 7px 62px 7px 50x;
  }
}
.dropzone {
  min-height: 360px;
  background-color: #dadada;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  padding: 23px;
  margin-bottom: 5px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone .dz-default.dz-message {
  background-position: 0 0;
  background-repeat: no-repeat;
  filter: none;
  height: 123px;
  left: 50%;
  margin-left: -204px;
  margin-top: -60.5px;
  opacity: 1;
  position: absolute;
  top: 50%;
  transition: opacity 0.3s ease-in-out 0s;
  width: 428px;
  font-size: 30px;
}
.dropzone .dz-default.dz-message span{
  font-size: 20px;
  margin-left: 164px;
  font-style: italic;
}
.dropzone .dz-default.dz-message b{
  font-weight:900;
  font-size: 45px;
  font-style: italic;
  color: #d84c33;
}
@media (max-width:600px) {
  .dropzone .dz-default.dz-message {
    margin-left: -97px;
    margin-top: -26.5px;
    font-size: 15px;
  }
  .dropzone .dz-default.dz-message span{
    font-size: 10px;
    margin-left: 71px;
  }
 .dropzone .dz-default.dz-message b{
   font-size: 20px;
  }
}
/*------- Product----------*/
.Product_container {
    width: 80%;
    margin: 0 10%;
}
.carousel-inner img {
    width: 100%;
}
.carousel-control .fa {
    position: absolute;
    top: 45%;
    color: #fff;
    font-size: 40px;
}
.information {
  display: block;
  padding: 5px;
  margin-bottom: 20px;
  line-height: 1.42857143;
}
.information h2 {
color: #000000;
}
.information .caption {
  padding: 10px 9px;
  color: #333;
}
.information .price span{
  border-bottom: none;
  display: inline;
  font-size: 16px;
  font-weight:300; 
}
.information .price span b{
  font-weight: 550;
  color: #d84c33;
  padding-left: 15px;
}
.information h4{
  font-size: 22px;
  color: #000;
}
.product_hd{
  font-size: 36px;
  color:#d84c33;
  text-align: center;
  margin-bottom: 20px;
}
/*....... List_Page........*/
.sidemodule { 
  border-radius: 3px;
  border: 1px solid #d6d6d6; 
  padding-bottom: 20px;
}
.sidemodule .box{
    display: block;
    padding: 0;
    position: relative;
}
.sidemodule .heading5 { 
  font-size: 20px;
  color: #000; 
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/*------- Categorie_left----------*/
ul.categories {  
  padding-top: 0px;
}
ul.categories li { 
  display: block; 
  border-bottom: 1px dashed #d6d6d6; 
}
ul.categories li:last-child { 
  border: none;
}
ul.categories li a { 
  display: block; 
  padding: 10px 5px 10px 5px; 
  color: #555555; 
}
ul.categories li a.active { 
  color: #d84c33;
  background-color: #eef0f1;
}
ul.categories li a:hover { 
  color: #d84c33;
  background-color: #eef0f1;
}
ul.searchonly {
  display: inline;  
}
ul.searchonly li{
  list-style: none;  
}
/*------- Product_list----------*/
.Product-list {
  display: block;
  margin-bottom: 20px;
}
.listings {
  border-top: 1px dashed #d6d6d6;
  border-bottom: 1px dashed #d6d6d6;
  height: 54px;
  color: #111111;
  font-weight: 400;
  margin-bottom: 10px;
}
.listings-title {
  float: left;
  padding-top: 16px;
}
.listings-icon{
  float: right;
  padding-top: 10px;
}
@media (max-width:480px) {
  .listings {
    height: 90px;
  }
  .listings-title {
    padding-top: 10px;
}
  .listings-icon {
    float: left;
  }
}
.border-t {
  border-bottom: 1px dashed #d6d6d6;
}
.border-t:hover {
  background-color:#eef0f1;
}
.listing-maxi {
  position: relative;
}
.listing-maxi .listing-side .listing-thumbnail, .listing-maxi .listing-side .listing-meta {
  width: 100%;
  float: left;
}
.listing-maxi .listing-link {
  color: #555555;
  display: block;
  padding: 18px 0px;
}
.listing-maxi .listing-thumbnail {
  height: 92px;
  margin-bottom: 3px;
  overflow: hidden;
}
.listing-maxi .listing-thumbnail {
  overflow: hidden;
  position: relative;
}
.listing-maxi .listing-side {
  width: 120px;
  float: left;
  margin-right: 15px;
}
.ribbon-featured .ribbon {
  background-color: #39c;
}
.ribbon-featured .ribbon, .ribbon-discount .ribbon {
  width: 112px;
  color: #fff;
  display: block;
  font-size: 10px;
  font-weight: 600;
  left: -33px;
  position: relative;
  text-align: center;
  top: -79px;
  transform: rotate(-45deg);
  padding: 3px 0;
}
.listing-maxi .label-urgent {
  position: absolute;
  bottom: 0;
  right: 0;
}
.label-urgent {
    color: #fff;
    background-color: #ef5112;
    display: inline-block;
    font-size: 10px;
    padding: 3px 4px;
    text-transform: uppercase;
}
.hide-visually {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.icn-camera{
  padding-left: 3px;
  font-size: 15px;
}
.media > .media-body-overflow, .listing-maxi .listing-content {
  overflow: hidden;
}
.listing-maxi .listing-content {
  padding-right: 65px;
  min-height: 92px;
}
.listing-maxi .listing-title {
  display: block;
  height: auto;
  overflow: hidden;
  font-size: 15px;
  color: #d84c33;
  margin:3px 0 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listing-maxi .listing-price, .listing-maxi .listing-clock{
  width: 75px;
  text-align: right;
  position: absolute;
  right: 0;  
}
.listing-maxi .listing-price {
  top: 21px;
}
.listing-maxi .listing-clock{
  bottom:19px;
}
.txt-emphasis {
    font-weight: 600;
}
.listing-description{
  max-height:42px;
  position:relative;
  overflow:hidden;
  font-size: 13px;
  display:block!important;
  visibility:visible
}
.listing-maxi .listing-location {
    font-weight: 600;
}
/*------- table_sorting----------*/
table.dataTable thead .sorting::after, 
table.dataTable thead .sorting_asc::after, 
table.dataTable thead .sorting_asc_disabled::after, 
table.dataTable thead .sorting_desc::after, 
table.dataTable thead .sorting_desc_disabled::after {
    display: none;
}
table.dataTable thead .sorting {
    background: url("../images/icon/sort_both.png") right center no-repeat;
}
table.dataTable thead .sorting_asc {
    background: url("../images/icon/sort_asc.png") right center no-repeat;
}
table.dataTable thead .sorting_desc {
    background: url("../images/icon/sort_desc.png") right center no-repeat;
}
table.dataTable thead .sorting_asc_disabled {
    background: url("../images/icon/sort_asc_disabled.png") right center no-repeat;
}
table.dataTable thead .sorting_desc_disabled {
    background: url("../images/icon/sort_desc_disabled.png") right center no-repeat;
}
/*------- product-detail-side-area----------*/
.side-bar {
  border: 1px solid #ccc;
  background: #fafafa;
  text-align: center;
}
.side-bar .inner{
  padding: 20px 10px;
}
.price-box {
  color: #000;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 28px;
  font-weight: 700;
  padding: 20px 0;
}
.phone-btn .btn {
  width: 100%;
  font-size: 12px;
  border-bottom:2px solid #be1414;
  margin:0px 0px 15px 0px;
  letter-spacing: 1.5px;
}
.phone-btn .btn .left{
  width: 10%;
  float: left;
  margin-top: 15px;
  
  }
.phone-btn .btn .right{
  width: 80%;
  float: right;
  text-align: left;
}
.phone-btn .btn span {
  font-size: 24px;
  letter-spacing: 0;
}
.btn-phone-btn {
    font-size: 28px;
    margin:15px;
    width: 90%;
}
.user-default-pic {
    background: #d8d7d7;
    color: #fff;
    font-size: 36px;
    line-height: 54px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 10px;
  }
.nomargin{
  margin: 0px;
}
.member {
    display: block;
    font-size: 13px;
    color: #d84c33;
    margin-top: 5px;
}
/*---------contact---------*/
.contact-detail {
  margin-top: 30px;
  margin-left: 30px;
}
.contact-detail h3{
  margin-bottom: 20px;
}
.contact-detail .contact-detail-icon { 
  width: 40px;
  height: 40px;
  float: left;
  background: #d84c33;
  color: #fff;
  margin: 0 10px 0 15px;
}
.contact-detail p{
  margin: 0px;
  font-size: 12px;
}
.contact-detail-info {
  display: inline-block;
}
.contact-detail p.contact-detail-name {
  color: #8b8b8b;
}
.fa-vertical-center {
  height: 100%;
}
.fa-vertical-center::before {
  display: inline-block;
  vertical-align: middle;
}
.fa-vertical-center::after {
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 1024) {
  .contact-detail p{
    font-size: 117px;
  }
}
@media (max-width: 480px) {
  .contact-detail p{
    font-size: 7px;
  }
  .contact-detail .contact-detail-icon { 
    width: 30px;
    height: 30px;
    margin: 0 5px 0 15px;
 }
}
